<div class="container mt-5">
    <h2 class="text-center py-3 text-white">Tarefas Pendentes</h2>

    <% if @tasks.any? %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% @tasks.each do |task| %>
        <% priority_class = case task.priority.level
            when 1 then 'bg-danger text-white'
            when 2 then 'bg-warning text-dark'
            when 3 then 'bg-success text-white'
        end %>

        <div class="col">
            <%= link_to todo_list_task_path(task.todo_list, task), class: "text-decoration-none" do %>
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title text-muted text-truncate text-white">
                            <%= task.title %>
                        </h5>
                        <span class="badge <%= priority_class %>"><%= task.priority.name %></span>
                    </div>
                    <p class="card-text text-muted text-truncate text-white"><%= task.description %></p>
                    <% if task.due_date.present? %>
                    <p class="text-end text-muted mb-2 text-truncate text-white">Vence em: <%= l(task.due_date) %></p>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
        <% end %>
    </div>
    <% else %>
    <p class="text-center text-white">Nenhuma tarefa pendente encontrada!</p>
    <% end %>
</div>